/* Dashboard Styles */
.main-content {
	position: relative;
	display: grid;
	grid-template-columns: 200px 1fr;
}

.main-content.show {
	grid-template-columns: 1fr;
}

.main-content-right {
	padding: 10px 30px;
}

.main-content-right h2 {
	color: #333;
	font-size: 2rem;
	margin-bottom: 20px;
}

.register-btn {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.register-btn:hover {
	background-color: #0056b3;
}

/* Estilos para la tabla */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

table th,
table td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

table th {
	background-color: #f8f9fa;
}

table tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

/* Estilos para las columnas específicas */
.col-cargo {
	width: 50%;
}

.col-acciones {
	width: 105px;
}

.edit-btn,
.delete-btn {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	img {
		height: 20px;
	}
}

.edit-btn {
	background-color: #ffc107;
	color: white;
}

.edit-btn:hover {
	background-color: #e0a800;
}

.delete-btn {
	background-color: #dc3545;
	color: white;
}

.delete-btn:hover {
	background-color: #c82333;
}

.pagination {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination span {
	color: #555;
}

.pagination button {
	background-color: #007bff;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.pagination button:hover {
	background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.login-container {
		flex-direction: column;
	}

	.login-left,
	.login-right {
		width: 100%;
		padding: 20px;
	}

	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.main-content-right {
		margin-left: 0;
	}

	.register-btn {
		width: 100%;
	}

	table {
		display: block;
		overflow-x: auto;
	}

	.pagination {
		flex-direction: column;
	}

	.pagination button {
		width: 100%;
		margin-top: 5px;
	}
}

@media (max-width: 480px) {
	.login-right {
		padding: 20px;
	}

	.login-right form {
		width: 100%;
	}

	.login-right button {
		width: 100%;
	}

	.login-right .links {
		flex-direction: column;
		align-items: center;
	}

	.login-right .links a {
		margin-top: 10px;
	}

	.register-btn {
		padding: 10px;
	}

	.edit-btn,
	.delete-btn {
		padding: 5px;
	}

	.pagination {
		align-items: center;
	}
}
