.navbar {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--spacing-medium);
}

.navbar ul li {
  display: inline-block;
  margin-right: var(--spacing-medium);
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: var(--color-light);
}

.navbar ul li a:hover {
  text-decoration: underline;
}
