body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}

a {
  color: var(--color-gray);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
