:root {
  /* Colores */
  --color-primary: #4ab6e2;
  --color-secondary: #1d3557;
  --color-accent: #007bff;
  --color-accent-hover: #0056b3;
  --color-success: #218838;
  --color-warning: #e0a800;
  --color-danger: #c82333;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-gray: #555;

  /* Fuentes */
  --font-family: "Roboto", sans-serif;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  /* Espaciado */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
}
